
/*
https://livebook.manning.com/book/css-in-depth-second-edition/chapter-8#100
set all default values - applied througout website
(default font, bg colors, font colors, headings, link styles...)

mostly tag selectors

make use of custom properties (theme.css)
*/

/*
 * Blushes web fonts by Piñata, licensed through Fontspring.
 * See ../fonts/blushes/LICENSE.txt for the full web font license.
 */
@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-thin-italic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-light-italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-regular-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-bold-italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-black-italic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: var(--font-main);
    background-color: var(--background-color-1);
    color: var(--foreground-color-2);
}

a:any-link {
    color: var(--brand-color);
}

/* heading - values for size, line-height, margin - considerations:
https://livebook.manning.com/book/design-for-developers/chapter-10#51 */
h1 {
    font-family: var(--font-heading);
    font-size: var(--space-12); /* 48px */
    line-height: 1;
    margin-top: var(--space-15);
}

h2 {
    font-size: var(--space-9); /* 36px */
    line-height: 1;
    margin-top: var(--space-12);
}

h3 {
    font-size: var(--space-7); /* 28px */
    line-height: 1.25;
    margin-top: var(--space-6);
}

p {
    font-size: var(--space-4); /* 16px */
    line-height: var(--space-5); /* 20px */
    margin-top: var(--space-4); 
}


/* Responsive behavior */
@media (min-width: 768px) {
    
}

/* form inputs, labels */

/* code blocks, blockquotes,  */

/* link states */
