/*
classes to do one simple, very specific thing to an element
(centering text, hiding elements...)

laser focused - rarely more than one declaration

*/


.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.border-radius {
    border-radius: 1rem;
}