
/*
https://livebook.manning.com/book/css-in-depth-second-edition/chapter-8#100
set all default values - applied througout website
(default font, bg colors, font colors, headings, link styles...)

mostly tag selectors

make use of custom properties (theme.css)
*/

/*
 * Blushes web fonts by Piñata, licensed through Fontspring.
 * See ../fonts/blushes/LICENSE.txt for the full web font license.
 */
@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-thin-italic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-light-italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-regular-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-bold-italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Blushes";
    src: url("../fonts/blushes/blushes-black-italic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: var(--font-main);
    background-color: var(--background-color-1);
    color: var(--foreground-color-2);
}

a:any-link {
    color: var(--brand-color);
}

h1 {
    font-family: var(--font-heading);
    font-size: 2.2rem;
}

h2 {
    font-size: 1.125rem;
}

/* Responsive behavior */
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

/* form inputs, labels */

/* code blocks, blockquotes,  */

/* link states */
